* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #333;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    grid-template-areas: 
    "nav logo"
    "header img"
    "main main"
    "footer footer";
}
.header {
    grid-area: header;
}
.main-nav {
    grid-area: nav;
    
    border: 2px solid #000;
}
.main-nav ul {
    grid-template-columns: 1fr;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.main-nav a{
    background-color: aquamarine;
    display: block;
    text-decoration: none;
    padding: 0.8rem;
}
.logo {
    height: 100px;
    float: right;
}